@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* custom-utilities.css */
@layer utilities {
  .bg-d {
    background-color: #fcb903;
  }
  .text-d {
    color: #fcb903;
  }
  .border-d {
    border-color: #fcb903;
  }
}
